* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* overflow-y: hidden; */
  /* background-color: red; */
}

/* nav section */
.nav-banner {
  background-image: linear-gradient(
      180deg,
      rgba(33, 33, 35, 0.8) -35.49%,
      rgba(192, 130, 103, 0) 124.72%
    ),
    url(./img/blog-bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 75vh;
  width: 100%;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.logo h4 {
  font-size: 40px;
  font-weight: 700;
  color: #fff;
}

.links ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.links ul a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  margin: 0 1rem;
}

.links ul li {
  padding: 0 1rem;
}

.button button {
  background: #a0583c;
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
  width: 100%;

  /* background-color: red */
}

.hero-title {
  font-size: 3.5rem;
  color: #fff;
  font-weight: 700;
  text-align: center;
  margin-bottom: 1rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 1.2;
}

.hero-text {
  font-size: 1.5rem;
  color: #fff;
  font-weight: 400;
  text-align: center;
  margin-bottom: 1rem;
  letter-spacing: 2px;
  line-height: 1.2;
}

.hero-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  background-color: #a0583c;
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

/* Responsive styles */
@media (max-width: 768px) {
  .nav {
    flex-direction: column;
    padding: 10px;
  }

  .logo h4 {
    font-size: 32px;
  }

  .links ul {
    flex-direction: column;
    margin-top: 1rem;
  }

  .links ul a {
    margin: 0.5rem 0;
  }

  .nav-toggle {
    display: block;
  }

  .links {
    display: none;
    text-align: center;
  }

  .show-links {
    display: block !important;
  }
}
/* end of nav */

/* body */
.body {
  background-color: #e5e5e5;
  padding: 2rem;
}

/* textfield */

.text-field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  margin: 0 auto;
  width: 30%;
  border: 1px solid #fff;
  background-color: #fff;
  border-radius: 10px;
  margin-top: 1rem;
}
.text-field i {
  color: #e5e5e5;
  padding-right: 5px;
}
.textfield-start {
  display: flex;
  justify-content: center;
  align-items: center;
}
.textfield-end {
  /* background-color: blue; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
input {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin: 0 auto;
  width: 100%;
  border: none;
}

input:focus {
  outline: none;
}

@media screen and (max-width: 768px) {
  .text-field {
    width: 80%;
  }
  .textfield-start {
    width: 20%;
  }
  .textfield-end {
    width: 20%;
  }
}

/* end of textfield */
/* startt banner */
.blog-banner {
  height: 50vh;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 2rem;
}
.blog-banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media screen and (max-width: 768px) {
  .blog-banner {
    height: 30vh;
  }
}
/* end of banner */
/* start of blog-text */
.blog-text-div {
  margin: 0 auto;
  width: 100%;
  max-width: 850px;
  margin-top: 2rem;
}
.blog-text-div-titile {
  font-size: 3rem;
  font-weight: bold;
}
.date-auther {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  max-width: 250px;
}
.date {
  font-size: 1rem;
  font-weight: 400;
  color: black;
  font-size: 1.2rem;
}
.auther {
  font-size: 1rem;
  font-weight: 400;
  color: #afa0a0;
}
.text {
  margin-top: 1rem;
  color: grey;
}
.title {
  margin-top: 1rem;
  color: black;
  font-weight: 700;
}
.section {
  margin-top: 1rem;
  color: black;
  font-size: 2rem;
  font-weight: 800;
}

/* end of blog-text */
/* footer */
.footer-sec {
  background-color: #a0583c;
  padding: 20px 20px;
}
.footer-before {
  background-color: #fff;
  height: 10px;
  width: 42%;
}
.footer-after {
  background-color: #fff;
  height: 10px;
  width: 45%;
}
.footer-header {
  color: #fff;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.footer-title {
  font-size: 1.2rem;
  color: #fff;
  font-weight: 700;
  text-align: start;

  padding: 10px 34px;
}

footer {
  background-color: #333;
  padding: 20px;
  color: #fff;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-column {
  width: 25%;
  padding: 10px;
}

.footer-column h3 {
  margin-bottom: 10px;
}

.footer-column ul {
  list-style-type: none;
  padding: 0;
}

.footer-column li {
  margin-bottom: 5px;
}

.follow-us {
  text-align: center;
}

.social-media {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* margin-left: -125px; */
  width: 100%;
}
.social-media img {
  width: 30px;
  height: 30px;
  object-fit: cover;
}
.hr-div {
  width: 99%;
  padding: 15px 20px;
}
.footer-hr {
  width: 100%;
  height: 3px;
  background-color: #fff;
  margin: 20px 0px;
}
.copyright p {
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
}

/* Media Query for screens smaller than 768px */
@media screen and (max-width: 767px) {
  .footer-column {
    width: 100%;
  }
  .social-media {
    width: 50%;
  }
}
